@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@theme {
  --font-ui: "Fresca", sans-serif;
  --font-application: "JetBrains Mono", monospace;
}

.music-slider {
  appearance: none;
  width: 70%;
  height: 4px;
  cursor: pointer;
  background: #535050;
  border-radius: 999px;
}

/* Chrome, Edge, Safari */
.music-slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f1e0d0;
  cursor: pointer;
}

/* Firefox */
.music-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background: #f6e7d9;
  cursor: pointer;
}

.vertical-slider {
  appearance: none;
  -webkit-appearance: none;

  writing-mode: vertical-lr;
  direction: rtl;

  width: 6px;
  height: 100px;

  background: #535050;
  border-radius: 999px;
  cursor: pointer;
}

/* Chrome / Edge / Safari */
.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 14px;
  height: 14px;

  border-radius: 50%;
  border: none;

  background: #f1e0d0;
  cursor: pointer;
}

/* Firefox */
.vertical-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;

  border-radius: 50%;
  border: none;

  background: #f1e0d0;
  cursor: pointer;
}